body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --ff-Bold: PoppinsMedium;
  --ff-Regular:Poppins;
  --ff-Thin: PoppinsThin;
  --ff-Light: PoppinsLight;
  --fs-400:0.9275rem;
  --fs-500: 1.25rem;
  --fs-600:1.625rem;
  --fs-900: 2.5rem;
}
@font-face {
  font-family:PoppinsLight ;
  src: url(./assests/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./assests/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsThin;
  src: url(./assests/fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(./assests/fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(./assests/fonts/Poppins-SemiBold.ttf);
}
body{
  font-family: var(--ff-Light);
}
p,li,figcaption,label{
  font-family: var(--ff-Light);
  text-wrap: pretty;
  max-width: 65ch;
}

h1,h2,h3,h4,h5,h6{
  text-wrap: balance;
  font-family: var(--ff-Regular) ;
}

body > :is(header,footer), main, section,article{
  container-type: inline-size;
}